.pin{
    display: grid;
    height: 60px;
    border-right: 2px solid #A9A9A9;
    font-size: 0.875rem;
}
.body{
   background-color: #FFFFFF;
}

.ringkasan {
    position: relative;
    /* overflow: hidden; */
    padding: 1rem;
    margin: 0;
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #FFFFFF;
}
.ringkasan .ringkasan-icon {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    text-align: center;
    border-radius: 50px;
    background-color: #FFFFFF;
    margin-bottom: 10%;
}

.ringkasan .ringkasan-icon i {
    font-size: 2rem;
    margin-right: 37px;
    background-color: #FFFFFF;
}
.ringkasan h5 {
    position: relative;
    display: inline-block;
}

.ringkasan h5::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.ringkasan h5:hover::after {
    transform: scaleX(1);
}
.sematkan {
    padding: 0.5rem;
    margin: 0 0 0 0;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    min-height: 30px;
    max-height: 10px;
    background-color: #FFFFFF;
}
.sematkan1 {
    padding: 0.5rem;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    min-height: 30px;
    max-height: 10px;
    margin-top: 10%;
    margin-bottom: 35%;
    background-color: #FFFFFF;
}
.sematkan .sematkan-icon {
    height: 60px;
    width: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #FFFFFF;
    /* margin-bottom: 15px; */
    text-align: center;
    border-radius: 100px;
}
.sematkan .sematkan-icon i {
    font-size: 2rem;
    background-color: #FFFFFF;
}

.sematkan .sematkan-icon-before {
    height: 60px;
    width: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #FFFFFF;
    /* margin-bottom: 15px; */
    text-align: center;
    border-radius: 100px;
}
.sematkan .sematkan-icon-before i {
    font-size: 2rem;
    background-color: #FFFFFF;
}

.ringkasan a {
    font-size: 13px;
    margin-bottom: 10px;
}
